/*Style for level 1 heading */

h1{
    font-size: 24 px;
    color: #38B2AC;
}

/*Style for level 2 heading*/

h2{
    font-size: 21 px;
    color: #5A67D8;
}

/*Style for paragrapgh*/

p{
    font-size: 18 px;
}